<h1 style="font-weight: bold; margin-top: 100px">
  This is your files
</h1>
<div style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px">
  <!-- float: right; margin-right: 12% -->
  <label class="btn btn-success btn-lg">
      New File&hellip; 
      <input type="file" style="display: none;" (change)="saveFile($event.target.files)">
  </label>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of myfiles">
      <td scope="row">{{file.key}}</td>
      <td>{{file.size}} B</td>
      <td>{{file.lastModified.replace("T"," ").substring(0, 19)}}</td>
      <button type="button" class="btn btn-warning" (click)="download(file.key)">Download</button><button type="button" class="btn btn-danger" style="margin-left: 5%" (click)="delete(file.key)">Delete</button>
    </tr>
  </tbody>
</table>
