<h1 style="font-weight: bold; margin-top: 100px; margin-bottom: 3%">
  Files of all users
</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Date</th>
      <th scope="col">User</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>test.txt</td>
      <td>2Mb</td>
      <td>27.03.2019</td>
      <td>Marek</td>
      <button type="button" class="btn btn-warning">Download</button><button type="button" class="btn btn-danger" style="margin-left: 5%">Delete</button>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>test2.exe</td>
      <td>10Mb</td>
      <td>25.03.2019</td>
      <td>Tomek</td>
      <button type="button" class="btn btn-warning">Download</button><button type="button" class="btn btn-danger" style="margin-left: 5%">Delete</button>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>test2.csv</td>
      <td>1Mb</td>
      <td>20.03.2019</td>
      <td>Bartek</td>
      <button type="button" class="btn btn-warning">Download</button><button type="button" class="btn btn-danger" style="margin-left: 5%">Delete</button>
    </tr>
  </tbody>
</table>